{% extends 'base_lessons.html' %}

{% block content %}

    <h2 class="w3-center" style="justify:center;">
        <b>GETTING STARTED</b> <br>
        Introduction: How to Tune your Guitar
    </h2>

    <hr>
    <div class="w3-container">
        <md-block class=" w3-large w3-padding-small w3-justify">
        # Tuning using Tools/Apps

        There are several online tools and mobile apps available which you can use to tune your guitar. As a beginner,
        you may want to use these tools to accurately tune your guitar. However as you improve, you should also be
        able to tune with your ears. This is explained in details in the section below.

        Use our Tuner Tool below to tune your guitar!
        We have also provided links to awesome online Guitar Tuners at the end of this lesson.

        ----
        ### Play the E (6th or the thickest) string on your guitar to get started. The tuner will guide you accordingly.

        </md-block>
        <br>
        <div class="w3-light-grey w3-round-large">
            <div class="w3-container w3-blue w3-round-large w3-border" style="margin-left:45%;width:5%">25% </div>
          </div>
        <div class="w3-container"
             style="background-image:url('../../../static/images/Guitar_Tuner_1.jpg'); background-repeat: no-repeat;
                    background-size: cover;">

          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>

    <hr>
    <div class="w3-container">
        <md-block class="w3-large w3-padding-small ">
        # Tuning with your Ears

        </md-block>

    </div>

    <hr>

    <md-block class="w3-large w3-padding-large ">
        ----
        # Additional Resources
        Below are some awesome Guitar Tuners available online:
    </md-block>
    <br>
    <a class="w3-large " href="https://guitar-tuner.org/acoustic-guitar-tuning" target="_blank">
        1. Guitar-Tuner.org
    </a> <br>
    <a class="w3-large w3-align-left" href="https://www.fender.com/online-guitar-tuner/acoustic-guitar-tuning" target="_blank">
        2. Fender Guitar Tuner
    </a>


    <br><br>

{% endblock %}