{% extends 'base_lessons.html' %}

{% block content %}

    <h2 class="w3-center" style="justify:center;">
        <b>GETTING STARTED</b> <br>
        Introduction: Fingers, Frets and Strings
    </h2>

    <hr>
    <div class="w3-container">
        <md-block class="w3-half w3-large w3-padding-small ">
        # Fingers

        To locate various notes and for finger plucking, we number the fingers on our hands as seen in the image.
        Here, "T" stands for Thumb.

        </md-block>

        <div class="w3-half w3-padding-large">
            <img src="../../../static/images/Guitar_Hands_1.jpg" style="width:80%;min-width:250px;">
        </div>
    </div>

    <hr>
    <div class="w3-container">
        <md-block class="w3-large w3-padding-large ">
        # Frets

        Frets are the areas between the metallic partitions on the neck of the Guitar .

        </md-block>

        <div>
            <img src="../../../static/images/Guitar_Frets_1.jpg" style="width:100%;min-width:250px;">
        </div>
        <br><br>
    </div>

    <hr>
    <div class="w3-container">
        <md-block class="w3-half w3-large w3-padding-small w3-justify">
        # Strings

        We are all familiar what strings are. The following image shows the standard tuning of a Guitar which is
        **E, A, D, G, B and E**. Strings are also numbered for locating notes on the fret board. The 6 strings on
        the guitar are numbered 1, 2, 3, 4, 5 and 6 from the bottom up i.e. the thinnest string is numbered 1 and
        the thickets string is numbered 6.

        In the next section we will learn how to tune the Guitar in standard tuning.

        </md-block>

        <div class="w3-half w3-center w3-padding-small">
            <br>
            <img src="../../../static/images/Guitar_Strings_1.jpg" style="width:100%;min-width:250px;">
        </div>
    </div>

    <br><br>

{% endblock %}